<h1>Contact Me!</h1>
<form>
  <label>Email</label><br/>
  <input type="text" name="email" placeholder="email" /><br/>
  <label>Name</label><br/>
  <input type="text" name="name" placeholder="name" /><br/>
  <label>Message</label><br/>
  <textarea placeholder="message"></textarea>
</form>